@keyframes animateStars {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    background: #e56a2b;
    box-shadow: inset 0px 0px 10px 2px rgba(204, 69, 62, 0.5), 0px 0px 40px 2px #d04c38;
  }
  100% {
    background: rgba(229, 106, 43, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(136, 28, 65, 0.5), 0px 0px 30px 2px rgba(152, 36, 65, 0.3);
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html::-webkit-scrollbar, body::-webkit-scrollbar, div::-webkit-scrollbar, span::-webkit-scrollbar, applet::-webkit-scrollbar, object::-webkit-scrollbar, iframe::-webkit-scrollbar,
h1::-webkit-scrollbar, h2::-webkit-scrollbar, h3::-webkit-scrollbar, h4::-webkit-scrollbar, h5::-webkit-scrollbar, h6::-webkit-scrollbar, p::-webkit-scrollbar, blockquote::-webkit-scrollbar, pre::-webkit-scrollbar,
a::-webkit-scrollbar, abbr::-webkit-scrollbar, acronym::-webkit-scrollbar, address::-webkit-scrollbar, big::-webkit-scrollbar, cite::-webkit-scrollbar, code::-webkit-scrollbar,
del::-webkit-scrollbar, dfn::-webkit-scrollbar, em::-webkit-scrollbar, img::-webkit-scrollbar, ins::-webkit-scrollbar, kbd::-webkit-scrollbar, q::-webkit-scrollbar, s::-webkit-scrollbar, samp::-webkit-scrollbar,
small::-webkit-scrollbar, strike::-webkit-scrollbar, strong::-webkit-scrollbar, sub::-webkit-scrollbar, sup::-webkit-scrollbar, tt::-webkit-scrollbar, var::-webkit-scrollbar,
b::-webkit-scrollbar, u::-webkit-scrollbar, i::-webkit-scrollbar, center::-webkit-scrollbar,
dl::-webkit-scrollbar, dt::-webkit-scrollbar, dd::-webkit-scrollbar, ol::-webkit-scrollbar, ul::-webkit-scrollbar, li::-webkit-scrollbar,
fieldset::-webkit-scrollbar, form::-webkit-scrollbar, label::-webkit-scrollbar, legend::-webkit-scrollbar,
table::-webkit-scrollbar, caption::-webkit-scrollbar, tbody::-webkit-scrollbar, tfoot::-webkit-scrollbar, thead::-webkit-scrollbar, tr::-webkit-scrollbar, th::-webkit-scrollbar, td::-webkit-scrollbar,
article::-webkit-scrollbar, aside::-webkit-scrollbar, canvas::-webkit-scrollbar, details::-webkit-scrollbar, embed::-webkit-scrollbar,
figure::-webkit-scrollbar, figcaption::-webkit-scrollbar, footer::-webkit-scrollbar, header::-webkit-scrollbar, hgroup::-webkit-scrollbar,
menu::-webkit-scrollbar, nav::-webkit-scrollbar, output::-webkit-scrollbar, ruby::-webkit-scrollbar, section::-webkit-scrollbar, summary::-webkit-scrollbar,
time::-webkit-scrollbar, mark::-webkit-scrollbar, audio::-webkit-scrollbar, video::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #100E12;
  font-family: "Finlandica", sans-serif;
  color: #f7eedf;
  padding-bottom: 13rem;
}
body b {
  font-weight: 600;
}

.shooting-stars {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.shooting-stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #f7eedf;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(247, 238, 223, 0.1), 0 0 0 8px rgba(247, 238, 223, 0.1), 0 0 20px #f7eedf;
  animation: animateStars 3s linear infinite;
}
.shooting-stars span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #f7eedf, transparent);
  opacity: 0.03;
}
.shooting-stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0.5;
  animation-duration: 3s;
}
.shooting-stars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.7s;
  animation-duration: 5s;
}
.shooting-stars span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.9s;
  animation-duration: 4s;
}
.shooting-stars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 1.1s;
  animation-duration: 3.5s;
}
.shooting-stars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 1.3s;
  animation-duration: 4.5s;
}
.shooting-stars span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1.5s;
  animation-duration: 5s;
}
.shooting-stars span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.5s;
  animation-duration: 3.75s;
}
.shooting-stars span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.9s;
  animation-duration: 3.25s;
}
.shooting-stars span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 1.25s;
  animation-duration: 4.25s;
}
.shooting-stars span:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 3.25s;
  animation-duration: 4.25s;
}

header {
  background: url(/img/rainbow-vortex.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #100E12;
  font-weight: 700;
  width: 100%;
  height: 12vw;
  padding: 1rem;
  text-align: end;
  opacity: 0.9;
}
header h1 {
  font-size: 5em;
  line-height: 7rem;
}

.content-wrapper {
  width: 50%;
  margin: 0 auto;
}

.authors {
  text-align: center;
  color: #852866;
  padding: 1rem;
  margin-bottom: 1rem;
}

.visit-red-coast {
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  border: 3px dashed #4D0B37;
  border-radius: 25px;
  background-color: #100E12;
  display: flex;
  gap: 2px;
  color: #f7eedf;
  margin-bottom: 1rem;
}
.visit-red-coast-img > img {
  max-height: 22rem;
  width: auto;
}
.visit-red-coast-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}
.visit-red-coast-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.visit-red-coast-text p {
  font-size: 1.15rem;
  margin-bottom: 2.5rem;
  padding-right: 2rem;
}
.visit-red-coast-text a {
  text-decoration: none;
  color: #100E12;
  background-color: #B8373E;
  width: fit-content;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 25%;
}
.visit-red-coast-name {
  line-height: 80px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #852866;
}

.divider {
  -webkit-animation: pulse 3s alternate infinite;
  height: 3px;
  margin: 0 auto 2rem;
  border-radius: 50%;
}

.hieroglyphs {
  color: rgba(247, 238, 223, 0.8);
  margin-bottom: 1rem;
  font-size: 4.75rem;
  letter-spacing: 2rem;
  text-align: center;
}

.send-receive-container {
  display: flex;
  color: #f7eedf;
  margin-bottom: 2rem;
  gap: 10px;
  font-size: 1.15rem;
}
.send-receive-container > div p {
  margin-bottom: 2rem;
}
.send-receive-container .send {
  border-right: 3px dotted rgba(229, 106, 43, 0.3);
  padding-right: 1rem;
}
.send-receive-container .send input::file-selector-button {
  border: 1px solid #f7eedf;
  background-color: #100E12;
  color: #f7eedf;
  padding: 0.35rem;
  border-radius: 3px;
  cursor: pointer;
}
.send-receive-container .receive {
  padding-left: 1rem;
  width: 65rem;
}
.send-receive-container .receive button {
  border: 1px solid #f7eedf;
  background-color: #100E12;
  color: #f7eedf;
  padding: 0.35rem;
  border-radius: 3px;
  cursor: pointer;
}

.send-spell {
  font-size: 1.55rem;
  font-weight: 700;
  height: 10rem;
  color: #f7eedf;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-top: 2rem;
}
.send-spell h2 {
  margin-bottom: 0.75rem;
}
.send-spell div label {
  font-size: 1.25rem;
  text-shadow: none;
  font-weight: 600;
}
.send-spell div input {
  border: 1px solid #B8373E;
  background-color: #100E12;
}
.send-spell div button {
  font-family: inherit;
  margin: 3rem auto 0;
  font-weight: 600;
  display: block;
  border: none;
  color: #100E12;
  background-color: #D04C38;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-shadow: 3px 3px 6px #e56a2b;
  box-shadow: 4px -4px 15px 0px #CC453E, 12px -11px 7px 0px #D04C38, 20px -5px 7px 0px #E56A2B, 20px 6px 7px 0px #E56A2B, 13px 12px 17px 0px #D04C38, 2px 17px 17px 0px #CC453E, -9px 21px 18px 0px #E56A2B, -9px 6px 11px 0px #CC453E, -11px -9px 11px 0px #E56A2B, -11px -9px 11px 0px #E56A2B, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=index.css.map */
